@import ./variables

._container
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 15px

    header
        width: 100%
        height: 70px
        background: $white-color
        display: flex
        padding: 0 50px
        box-shadow: 0 0 2px 0 get-color-level($black-color, 5)
        border-bottom: 1px solid get-color-level($main-color, 10)
        position: fixed
        top: 0
        left: 0
