@import ../variables

._container
    display: flex
    flex-direction: column
    width: 700px
    height: 100%
    background: get-color-level($main-color, 3)
    position: relative

    ._messages
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        row-gap: 20px
        padding: 10px 15px
        overflow-y: scroll

    @media ( max-width: 750px )
        width: 100%
        


