@import ../../variables

._container
    width: 100%
    display: grid

    ._result, ._comment
        display: flex
        flex-direction: column
        row-gap: 8px
        height: fit-content
        width: fit-content
        max-width: 85%
        padding: 12px
        border-radius: 10px
        background: $white-color
        box-shadow: 0 0 2px 0 get-color-level($black-color, 5)
        font-size: 14px
        letter-spacing: 0.2px
        line-height: 25px
        color: $black-color
        position: relative

        &:hover ._copy
            visibility: visible

        ._copy
            position: absolute
            top: 5px
            right: 5px     
            visibility: hidden         

        ._result__text
            display: inline-flex
            flex-direction: column
            align-items: flex-start
            row-gap: 15px
            width: 100%
            height: max-content
            background: $white-color
            border: none
            font-size: 15px
            font-weight: 400
            letter-spacing: 0.2px
            line-height: 25px
            color: $black-color
            padding: 0

            strong
                font-weight: 600
            
            ul, ol
                display: flex
                flex-direction: column
                row-gap: 10px

            a
                color: $main-color

            pre, code
                white-space: pre-wrap

            table
                border-collapse: collapse

                th, td 
                    border: 1px solid get-color-level($black-color, 8)
                    padding: 8px
                    text-align: left
                td
                    font-size: 14px

        span
            display: flex
            justify-content: center
            align-items: center
            column-gap: 5px
            width: fit-content
            height: 40px
            padding: 0 10px
            border-radius: 30px
            border: 1px solid get-color-level($main-color, 5)
            background: get-color-level($main-color, 5)
            font-size: 14.5px
            color: $black-color
            font-weight: 500

            svg
                &:nth-child(1)
                    font-size: 22px

                &:nth-child(2)
                    font-size: 15px
                    
                    

    ._result
        justify-self: flex-start

    ._comment
        justify-self: flex-end
        width: fit-content
        font-size: 15px
        color: #fff
        border: none
        box-shadow: 0 0 2px 0 get-color-level($black-color, 20)

